
.App {
  padding-left: 16px;
  background-color: #1da584;
}

.buttonLink{
  border-radius: 2px;
  margin: 4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.buttonLink:active{
    background-color: #1da584;
    color: #193148;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end; /* Alinha os botões à direita */
  margin-right: 16px;
}

.ChartsContainer {
  display: flex;
  padding-left: 24px;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape {
  text-align: center;
}

/*
.App {
  padding-left: 10px;
  background-color: #1da584
}

.AppContent {
  width: 500px;
  height: 400px;
  padding: 15px;
  background-color: #fff;
}

.ChartsContainer {
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
  margin-left: 15px;
  margin-right: 15px;
  
}
*/